body {
    background-image: url("../images/ToiOhomaiBackgroundHome2.png");
    background-repeat: repeat-x;
}
div.content {
margin-right: 20%;
    margin-left: 20%;
    margin-top: 5%;
}
div.jumbotron-inverse {
color: #ffffff
}